/* colors */

$color-white: #fff;
$color-gray: #ccc;
$color-gray-light: #fcfcfc;
$color-gray-dark: #595959;
$color-orange: #fc511d;
$color-red: #CD2626;
$color-orange-rgb-02: rgba(252,81,29, 0.2);
$color-black: #000;
$color-almost-black: #1b1b1b;

/* font-size */

$font-size-pixels: 14px;

$font-size-small: 0.8em;
$font-size-standard: 1em;
$font-size-medium: 1.2em;
$font-size-big: 1.4em;
$font-size-double: 2em;
$font-size-large: 2.4em;