/* toggle animation*/

.toggle-animation {
  @include transition (all 0.3s linear);
}

.toggle-animation.ng-hide {
  opacity: 0;
}

/* slide animation*/

.slide-animation{
  @include transition (right 0.2s  linear);
}
.slide-animation.ng-hide {
  right: 100%;
}
.slide-animation.ng-show{
  right: 20%;
}

@include keyframes(circleAnimation) {
  0%{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  100%{
    top: -150%;
    left: -150%;
    right: -150%;
    bottom: -150%;
    opacity: 0;
  }
}
@include keyframes(rollIn) {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -30deg);
    transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -30deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@include keyframes(rollInRight){
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 30deg);
    transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 30deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}