$nav-line-height: 3px;
#header{
  border: none;
  padding: 0;
  top: 0;
}
nav{
  position: relative;
  padding-bottom: 8px;
  padding-top: 5px;
}

.nav__item,
.nav__item:hover{
  margin: 0 3px;
  text-decoration: none;
  color: $color-gray;
  padding: 5px 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: color 0.5s ease-in-out;

  &.nav__item--menu {
    margin-left: -5px;
    border-right: 2px solid #ccc;
    padding-right: 10px;
  }

  &.nav__item--active{
    color: $color-orange;
  }
}

.nav__icon{
  @include  fa-icon();
  font-size: $font-size-large;

  &.nav__icon--small{
    font-size: $font-size-double;
  }
}

.nav__line{
  background: $color-gray;
  width: 100%;
  display: block;
  height: $nav-line-height;
  margin-top: -$nav-line-height;
  position: relative;
}

.nav__line__indicator{
  @include border-top-radius($nav-line-height - 1);
  @include position(absolute, 0 auto 0 auto);
  @include transition(all 0.3s ease-in-out);
  background: $color-orange;
}

