@mixin text-box{
  color: $color-gray;
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  padding: 0 10%;
}
.text-error--bottom{
  @include text-box;
  color: $color-red;
  bottom: 12%;
}
.text-empty--center{
  @include text-box;
  top: 50%;
}
.text-empty--bottom{
  @include text-box;
  bottom: 12%;
}